#body{
    width: 33%;
}

#res
{
    width : 100%;
    height: 48px;
    background-color : lightgray;
    border : solid;
    font-size: 20px;
}

#btn0{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: lightgreen;
    color: brown;
  }

#btn1{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: lightgreen;
    color:brown;
  }

  #btnClr{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: darkgreen;
    color : white;
  }

  #btnEql{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: darkgreen;
    color : white;
}


#btnSum{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: black;
    color: red;

  }

  #btnSub{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: black;
    color: red;

  }

  #btnMul{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: black;
    color: red;

  }

  #btnDiv{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin : 0px;
    float: left;
    background-color: black;
    color: red;
  }